/**
 * Survey Surfer (https://www.ennapd.com/surveysurferadminpanel)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 
.image1 {
    position: relative;
    background: linear-gradient(to right, rgb(46, 170, 255) , rgb(54, 198, 240));
    text-align: center;
    padding-bottom: 15px;
  }
  .profilePic {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px grey;
    border-radius: 80px;
    width: 100px;
    height: 100px;
  
    .nameText {
      margin-top: 10px;
  
    }}